@import 'vars';

.list{
    display: flex;
    flex-direction: column;
    width: 100%;

    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @gut;
        box-shadow: @shadow;
        // border: 2px solid #bbb;
        border-radius: @round_2;
        margin-top: @gut;
        .icon{
            color: @carrot;
            margin-right: @gut;
            margin-left: @gut;
            font-size: 2rem;
            cursor: pointer;
            &:hover{
                color: darken(@carrot,10);
            }
        }
        .todo-through{
            text-decoration: line-through;
        }
        .todo{
            text-decoration: none;
        }

    }
}